*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#box{
    height: 100px;
    width: 100px;
    background-color: blue;
    /* position: static; */
    position: relative;                                 /* Relative : Your current position */
    /* left: 100px; */
    /* top: 100px; */
    /* bottom: 100px; */
    /* border-radius: 50%; */
    /* left: 0%;            not moving */
    /* bottom: 0%;          not moving */
    
}

#box{
    height: 100px;
    width: 100px;
    background-color: brown;
    position: absolute;                                /* Absolute: Can Move anywhere inside body, we can scroll it. */
    right: 0%;
    bottom: 0%;
    border-radius: 50%;      
}


#box{
    height: 100px;
    width: 100px;
    background-color: brown;
    position: absolute;                                /* Fixed: To fix position. But its not work on images, always fixed. */
    right: 0%;
    bottom: 0%;
    border-radius: 50%;      
}


#box{
    height: 100px;
    width: 100px;
    background-color: brown;
    position: sticky;                                /* Sticky: To fix position. even its images */
    /* right: 0%;
    bottom: 0%; */
    top:100px;
    border-radius: 50%;      
}


/* z-index: used to make sure that elements are not overlapping each other, instead of they place them one after another*/